canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 10px solid black;
  background-color: black;
}

body {
  background-color: grey;
}

#message-area {
  background-color: white;
  color: blue;
  font-style: bold;
  font-family: sans-serif;
}
