html { 
  background: url(../img/background2.png) no-repeat center center fixed; 
  width:100%;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background-color: transparent;
  color: white;
  text-align: center;

  font-size: 30px;
  letter-spacing: 3px;
}

  padding-top: 50px;
}

img {
  padding: inherit;
  padding-top: 100px;
}

